<dl>
  <dt>ID:</dt>
  <dd>{{userdetails._id}}</dd>
  <dt>Username:</dt>
  <dd>{{userdetails.username}}</dd>
  <dt>FirstName:</dt>
  <dd>{{userdetails.firstName}}</dd>
  <dt>LastName:</dt>
  <dd>{{userdetails.lastName}}</dd>
  <dt>Profession:</dt>
  <dd>{{userdetails.profession}}</dd>
  <dt>Bio:</dt>
  <dd>{{userdetails.bio}}</dd>
</dl>

<a href="logout">Logout</a>